
.navbarheader{
    background-color: rgb(58, 166, 201)
}

.navbarcontain {
    margin: 0px 80px 0px 80px;
    padding: 20px;
    /* border: 1px solid red; */
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    position: relative;
  }
  .handle {
    display: none;
    color: white;
  }
  .navbarhandlecont {
    display: none;
    flex-direction: column;
border: 2px solid rgb(168, 165, 165);
    width: 200px;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 15px;
    color: black;
     background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(20px);
    position: absolute;
    top: 60px;
    /* Adjust based on your layout */
    right: 10px;
    z-index: 1000;
  }

  .navbarhandlecont span {
    display: block;
    padding: 10px;
    color: black;
    border-radius: 20px;
    text-align: center;
    margin-top: 2px;
    border-bottom: 2px solid #ddd;
  }

  .navbarhandlecont span:hover {
      background: transparent;
  transform: translateY(-4px) scale(1.03);
  }

  .navbaractive {
    display: flex;
    color: white;
    padding: 2px;
    border-radius: 20px;
  }


header img {
    width: 110px;
    height: 110px;
    border-radius: 100%;
   animation-name: shivamlogo;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  padding: 3.5px;
  object-fit: cover;
}
@keyframes shivamlogo {
  0% {
    /* box-shadow:0 0 20px cyan; */
  }

  25% {
    /* color: #9390bf; */
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    ;

  }

  50% {
    /* color: #5022a6; */
    box-shadow: 0px 0px 40px rgb(255, 255, 255);
    ;
  }

  75% {
    /* color: #9390bf; */
    box-shadow: 0px 0px 60px rgb(255, 255, 255);
    ;
  }

  100% {
    box-shadow: 0px 0px 80px rgb(255, 255, 255);
    ;
  }

}
.nam {
    font-size: 24px;
    margin-left: 17px;
    font-weight: bold;
    font-family: "Poppins";
    /* border-right: 1px solid red; */
  }
  .nam a{
    padding: 5px 10px;
  }

  .nav {
    font-size: 17px;
    font-weight: bold;
    border-left: 2px solid white;
    margin-left: 15px;
    /* margin-right: 250px; */
    color: white;
  }
.nav a {
  padding: 5px 20px;
  border-radius: 20px;
}
.nav a:hover {
  background-color: white;
}
  .navbarbutton {
    font-size: 15px;
    color: grey;
    background-color: white;
    border: none;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    display: flex;
    position: absolute;
    right: 80px;
    top: 60px;
    transition: 0.7s;
  }
 .enroolarrow {
  margin-top: 2px;
  margin-left: 5px;
  transform: rotate(-45deg);
  display: inline;
}

.navbarbutton:hover {
  border-radius: 30px;
  background-color: rgb(49, 247, 49);
  color: black;
  font-weight: 700;

  /* transform: rotate(40deg); */
  .enroolarrow {
    margin-top: 3px;
    transform: rotate(0deg);
  }
}
.handlearrow:hover {
  .enroolarrow {
    transform: rotate(0deg) translateY(2px);
  }
}
  .navbar {
    /* margin-left: 20px; */
    color:white;
  }
  .navbar:hover {
    /* margin-left: 20px; */
    color:black;
  }


  .button:hover {
    color: black;
    font-weight: bold;
  }

  a {
    text-decoration: none;
  }

  a:hover {
/*     background-color: rgb(249, 248, 252); */
    text-decoration: underline;
    /* color: blue; */
    cursor: pointer;
  }
  .jabnavbaractive {
     color: rgb(131, 124, 124);
    /* background-color: blue; */
    text-decoration: none;
  }
  @media(max-width:1250px) {
    .navbarbutton{
      /* justify-content: center; */
      right: 40px;
    }
  }
  @media(max-width:1130px) {
    .navbarbutton{
      /* justify-content: center; */
      right: 1px;
    }
  }
  @media(max-width:1076px) {
    .navbarcontain{
      justify-content: center;
      /* right: 1px; */
    }
    .nav{
      margin-right: 110px;
      margin-top: 20px;

    }
    .navbarbutton{
      /* justify-content: center; */
      top: 140px;
    }
  }
  @media(max-width:996px) {
    .nav {
      display: block;
      /* margin-right: 150px; */
    }
  }
 
  @media(max-width:707px) {
    .nav a {
      /* margin-right: 1px; */
      display: block;
    }
    .navbarcontain {
      margin: 0px 10px 0px 10px;
      /* font-size: ; */
    }

    .h {
      font-size: 15px;
      border-radius: 20px;
    }
  }
  @media (max-width: 900px) {
    .handle {
      display: block;
      font-size: 24px;
      margin-left: auto;
      margin-right: 10px;
      cursor: pointer;
      z-index: 2000;
    }

    .nav,
    .navbarbutton {
      display:none;
    }
    .enroolarrow {
    margin-top: -3px;
  }
  }
  

  @media (max-width: 500px) {
    header img {
      width: 100px;
      height: 100px;
  }
  .h{
    font-size: 15px;
  }
  .navbarcontain {
    padding: 20px 10px 20px 10px;
    /* font-size: ; */
  }
  }
